<section id="projects">
  <div class="container center-align">
    <h4>
      <strong><u><span style="font-weight: bold">Projects</span></u></strong>
    </h4>
    <div class="panel panel-default">
      <div class="panel-body">
        <h5>
          <i class="fab fa-github"></i>&nbsp;&nbsp;<strong><a href="https://github.com/SaiLikhith7/covid19-by-sailikhithk"
              >COVID 19 dashboard by sai likhith K</a>
           </strong>
          Website built to showcase not only statistics but also analytics built out of coronav virus effect on entire globe. <i>Written in CSS, Javascript, Type script </i>
        </h5>
        <h5>
          <i class="fab fa-github"></i>&nbsp;&nbsp;<strong
            ><a href="https://github.com/SaiLikhith7/HackNYU-2020"
              >Hack NYU hackathon project on Artificial assistant for Visually Challenged people</a>
           </strong>
          - Application to help visually impaired using Computer Vision and NLP APIs <i>Written in Python, Javascript</i>
        </h5>
        <h5>
          <i class="fab fa-github"></i>&nbsp;&nbsp;<strong
            ><a href="https://github.com/SaiLikhith7/Google-Hashcode-2020-qualification-round"
              >Google Hashcode 2020 qualification round</a
            ></strong
          >
          - A Hackathon conducted by Google <i>Written in Python</i>
        </h5>
<h5>
          <i class="fab fa-github"></i>&nbsp;&nbsp;<strong
            ><a href="https://github.com/SaiLikhith7/CSGY-6513-Big-Data-Project-Analysis-of-NYC-Open-Data"
              >NYC Open Data Analysis and Visualization</a
            ></strong
          >
          - Part of Academic project submission on Taxi Data which contains the code and outputs along with the execution instructions for the profiling and analysis of datasets from NYC Open Data
        </h5>

        <h5>
          <i class="fab fa-github"></i>&nbsp;&nbsp;<strong
            ><a href="https://github.com/SaiLikhith7/NYC_Open_Data-Map-Reduce-and-Pyspark">Pyspark Map Reduce for NYC Open Data</a></strong
          >
          - This project has the Map Reduce for NYC Open Data, written in Pyspark, which helps distribution
        </h5>
      </div>
    </div>
  </div>
</section>
