<style>
  .third { width: 33.3%; float: left; column-gap:100px }
   h5 { display: inline }
   .card:hover {box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);}
   .card {box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2); transition: 0.3s;border-radius: 5px; background-color:#f6f0ec; column-gap:40px}
   img {border-radius: 5px 5px 0 0;}
 </style>

 <section id="projects">
  <div class="container center-align">
    <h4>
      <strong><u><span style="font-weight: bold">Projects</span></u></strong>
    </h4>
    <div class="panel panel-default">
      <div class="panel-body">
        <div class="row">
        <div class="third">
        <h5>
          <div class="card">
          <strong>
            <a href="https://github.com/SaiLikhith7/covid19-by-sailikhithk"><img src="./img/covid19.png" alt="Avatar" style="width:100%;height:300px;">
              <i class="fab fa-github"></i>&nbsp;&nbsp;<u>COVID 19 dashboard by sai likhith K:</u>
          Website built to showcase not only statistics but also analytics built out of coronav virus effect on entire globe. <i>Written in CSS, Javascript, Type script </i>
        </a>
        </strong>
        </div>
    </h5>
    </div>
    <div class="third">
      <h5>
        <div class="card">
          <strong>
                <a href="https://github.com/SaiLikhith7/HackNYU-2020"><img src="./img/Hacknyu.png" alt="Avatar" style="width:100%;height:300px;"><i class="fab fa-github"></i>&nbsp;&nbsp;<u>Hack NYU hackathon project on Artificial assistant for Visually Challenged people</u>
           <p>Web Application to help visually impaired using Computer Vision and NLP APIs <i>Written in Python, Javascript</i></p>
           </a>
           </strong>
          </div>
      </h5>
    </div>

    <div class="third">
      <h5>
        <div class="card">
          <i class="fab fa-github"></i>&nbsp;&nbsp;
          <strong>
          <a href="https://github.com/SaiLikhith7/Google-Hashcode-2020-qualification-round"><u>Google Hashcode 2020 qualification round:</u>
         A Hackathon conducted by Google <i>Written in Python</i></a>
           </strong>
           </div>
      </h5>
    </div>
    </div>
  <div class="row">
    <div class="third">
      <h5>
        <i class="fab fa-github"></i>&nbsp;&nbsp;
        <strong>
          <a href="https://github.com/SaiLikhith7/CSGY-6513-Big-Data-Project-Analysis-of-NYC-Open-Data"
              ><u>NYC Open Data Analysis and Visualization</u></a>
              </strong>
          - Part of Academic project submission on Taxi Data which contains the code and outputs along with the execution instructions for the profiling and analysis of datasets from NYC Open Data
      </h5>
    </div>
    <div class="third">
      <h5>
        <i class="fab fa-github"></i>&nbsp;&nbsp;
        <strong>
          <a href="https://github.com/SaiLikhith7/NYC_Open_Data-Map-Reduce-and-Pyspark"><u>Pyspark Map Reduce for NYC Open Data</u></a>
        </strong>
          - This project has the Map Reduce for NYC Open Data, written in Pyspark, which helps distribution
      </h5>
    </div>
    </div>
  </div>
  </div>
</section>
